@media (min-width: 768px) {
  .events-hub > div {
    flex-direction: row;
    justify-content: space-between; 
    max-width: 1200px; 
  }

  ul {
    flex: 1; 
  }

  .events {
    flex: 2;
  }

  .events-slider {
    margin-bottom: 30px; 
  }

  button.prev,
  button.next {
    font-size: 24px; 
  }
}
